.bg-scrim {
    position: fixed;
    background: url("https://cdn.wallpapersafari.com/94/21/Z3fgxb.gif");
    background-size: 1920px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    filter: blur(4px);
    transform: scale(1.1);
}

.aspect-ratio-16x9 {
    aspect-ratio: 16 / 9;
}

.place-items-center {
    place-items: center;
}

.card-item {
    max-width: 540px;
}


.products-container {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, minmax(13rem, 1fr));
}

@media only screen and (width < 1200px) {
    .products-container {
        grid-template-columns: repeat(3, minmax(13rem, 1fr));
    }
}

@media only screen and (width < 768px) {
    .products-container {
        grid-template-columns: repeat(1, minmax(13rem, 1fr));
    }
}